
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Style pour le header */
header {
    background-color: #007bff;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0;
    border: none;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-left: 15px;
}

nav a:hover {
    text-decoration: underline;
}

/* Style pour le contenu principal */

#containerAdmin
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#containerAdmin {
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#customWelcome {
    color: #333;
    margin-bottom: 20px;
}

.titre-compte-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.titre-compte-list h3 {
    margin: 0;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.btn {
    color: black;
    text-decoration: none;
    border: gray 1px solid;
    padding: 3px 5px;
    border-radius: 7px;
}

.add-btn {
    background-color: #007bff;
}

.update-btn {
    background-color: orange;
}

.delete-btn {
    background-color: red;
    cursor: pointer;
}