body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

h2 {
    color: #333;
    text-align: center;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="email"], 
#password {
    width: calc(100% - 50px); /* Ajuster la largeur pour inclure le bouton */
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.password-container {
    display: flex;
    align-items: center;
    position: relative; /* Ajouté pour positionner l'icône de manière absolue */
}

#password,
#email {
    flex: 1;
    padding-right: 40px; /* Ajouté pour créer un espace pour l'icône */
}

#togglePassword {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute; /* Positionné absolument pour se placer dans le champ de mot de passe */
    right: 10px; /* Espacement depuis le bord droit */
    top: 40%; /* Alignement vertical */
    transform: translateY(-50%); /* Centre verticalement */
    z-index: 1; /* Assure que l'icône est au-dessus du champ de texte */
}

#eyeIcon {
    width: 20px;
    height: 20px;
}