/* Styles de base pour améliorer la lisibilité */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    margin-bottom: 20px;
}

header h1 {
    display: inline-block;
    margin: 0;
}

header a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h2,
h3 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.produits-table {
    width: 95%;
    margin: 10px 0 0 5%;
    border: 1px solid #ccc;
}

.produits-table th {
    background-color: #e9e9e9;
}

.no-produits {
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.btn {
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: 1px black solid;
}

.button-add-client {
    background-color: dodgerblue;
}
.btn:hover {
    box-shadow: gray 0 4px 4px 0;
    cursor: pointer;
}

.modif-btn {
    background-color: darkorange;
}

.remove-btn {
    background-color: dimgray;
}

.list-entreprise {
    border: black 2px solid;
    border-radius: 10px;
}
